@model TaiKhoanViewModel

<div class="container">
    <h3>Đăng ký</h3>
    <form method="post">
        <label asp-for="Username">Tên tài khoản:</label>
        <input asp-for="Username" type="text" class="form-control" />

        <label asp-for="Password">Mật khẩu:</label>
        <input asp-for="Password" type="password" class="form-control" />

        <label asp-for="HoTen">Họ tên:</label>
        <input asp-for="HoTen" type="text" class="form-control" />

        <label asp-for="Tuoi">Tuổi:</label>
        <input asp-for="Tuoi" type="number" class="form-control" />

        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
    <hr />

    @if (Model.Password != null && Model.Password.Length > 0)
    {
        <h3>Thông tin cá nhân</h3>
        <p>Tên tài khoản: @Model.Username</p>
        <p>Mật khẩu: @Model.Password</p>
        <p>Họ tên: @Model.HoTen</p>
        <p>Tuổi: @Model.Tuoi</p>
    }
</div>