<div class="container">
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage">
                    <p>Chương trình săn sale mỗi giờ</p>
                    <h2>Giảm giá 60%!</h2>
                    <h3>Nhanh lấy nào</h3>
                    <a class="read_more" href="~/trang-chu">Shop Now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="laptop_box">
                    <figure><img src="images/sales3.png" alt="#" /></figure>
                </div>
            </div>
            </div>
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage">
                    <p>Lễ hội ngày 20/11</p>
                    <h2>Giảm giá 40%!</h2>
                    <h3>Cùng nhau đón ngày nhà giáo</h3>
                    <a class="read_more" href="~/trang-chu">Trang bị ngay</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="laptop_box">
                    <figure><img src="images/sales1.png" alt="#" /></figure>
                </div>
            </div>
            </div>
        <div class="row d_flex">
            <div class="col-md-6">
                <div class="titlepage">
                    <p>Chuẩn bị đón ngày cuối năm</p>
                    <h2>Giảm giá 50%!</h2>
                    <h3>Năm 2025 sắp đến, mang theo nhiều điều mới còn bạn đã có gì chưa ?</h3>
                    <a class="read_more" href="~/trang-chu">Bạn sẵn sàng chưa ?</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="laptop_box">
                    <figure><img src="images/sales2.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>