<div class="laptop1">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="laptop1_img">
                    <figure><img src="images/service.png" alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-5">
                <div class="titlepage">
                    <h2>Chính sách dịch vụ khách hàng</h2>
                    <p>Ở đây chúng tôi phục chính sách dịch vụ khách hàng về các điều khoản khác nhau. Mong bạn đọc kĩ rõ ràng các chính sách của chúng tôi</p>
                    <a class="read_more" href="~/trang-chu">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>