 <div class="container">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="titlepage">
                    <h2>About Us</h2>
                    <p>Nhà sáng lập:Huỳnh Thanh Liêm</p>
                    <p>mail: huynhthanhliem@gmail.com</p>
                    <p>Address:60-62 Lê Lợi,Q.1,TP. HCM</p>
                    <p>Phone: 091231245</p>
                    <p>Web đã được phát triển từ một dự án nhỏ với mục đích là thân thiện với khách hàng và đáp ứng và lắng nghe nhu cầu của họ để phát triển, mở rộng mô hình này ở Việt Nam . Không riêng ở Việt Nam và vươn tới DNA và Thế giới</p>
                <a class="read_more" href="~/trang-chu">Read More</a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="about_img">
                    <figure><img src="images/about.png" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>