<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>trang chủ</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="~/image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a href="~/trang-chu"><img src="~/images/logo.png" alt="#" /></a>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">                         
                            <div class="collapse navbar-collapse" id="navbarsExample04">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="~/trang-chu">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/service">Service</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/sales">Sales</a>
                                    </li>
                                    <li class="nav-item">
                                        @await Component.InvokeAsync("TheLoai")
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/contact">Contact Us</a>
                                    </li>                                 
                                </ul>
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                <partial name="_LoginPartial" />
                                </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
    <section class="banner_main">
        <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#banner1" data-slide-to="0" class="active"></li>
                <li data-target="#banner1" data-slide-to="1"></li>
                <li data-target="#banner1" data-slide-to="2"></li>
                <li data-target="#banner1" data-slide-to="3"></li>
                <li data-target="#banner1" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Chương trình giảm giá tháng 10</span>
                                        <h1>Hallowen Sales</h1>
                                        <p>Chúc mừng ngày lễ Hallowen 30/10-31/10/2024</p>
                                        <a href="~/trang-chu">Buy Now </a> <a href="~/contact">Contact </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/images/1.png" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Chương trình giảm giá đầu tháng</span>
                                        <h1>Tháng 11</h1>
                                        <p>Săn ngay các món đồ vào đầu tháng mới mẻ này </p>
                                        <a href="~/trang-chu">Buy Now </a> <a href="~/contact">Contact </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/images/2.png" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Chương trình giảm giá giữa tháng</span>
                                        <h1>Tháng 11</h1>
                                        <p>Săn ngay các món đồ vào giữa tháng mới mẻ này  </p>
                                        <a href="~/trang-chu">Buy Now </a> <a href="~/contact">Contact </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/images/3.png" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Chương trình giảm giá cuối tháng</span>
                                        <h1>Tháng 11</h1>
                                        <p>Trang bị các món đồ vào cuối tháng mới mẻ này</p>
                                        <a href="~/trang-chu">Buy Now </a> <a href="~/contact">Contact </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/images/4.png" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text-bg">
                                        <span>Chương trình giảm giá cuối năm</span>
                                        <h1>Sales cuối nam và Noel</h1>
                                        <p>Trang bị các món đồ vào cuối năm và chuẩn bị cho một năm mới tràn đầy hạnh phúc</p>
                                        <a href="~/trang-chu">Buy Now </a> <a href="~/contact">Contact </a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text_img">
                                        <figure><img src="~/images/5.png" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    <!-- end banner -->
    <!-- three_box -->
    <div class="three_box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="~/images/thr.png" alt="#" /></i>
                        <h3>Mô Tả </h3>
                        <p>là một nền tảng mua sắm trực tuyến hàng đầu Đông Nam Á. Với giao diện thân thiện, dễ sử dụng,  cung cấp hàng triệu sản phẩm đa dạng từ thời trang, điện tử, mỹ phẩm, đồ gia dụng cho đến</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="~/images/thr1.png" alt="#" /></i>
                        <h3>Chất Lượng Bán Hàng và Các Nhà Cung Cấp</h3>
                        <p>là một nền tảng thương mại điện tử lớn và phát triển nhanh chóng. Để đảm bảo chất lượng sản phẩm và dịch vụ,  đã thực hiện nhiều biện pháp để đảm bảo chất lượng sản phẩm và dịch vụ .</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box_text">
                        <i><img src="~/images/thr2.png" alt="#" /></i>
                        <h3>Các Sản Phẩm của Web</h3>
                        <p> là một nền tảng thương mại điện tử khổng lồ với hàng triệu sản phẩm thuộc nhiều ngành hàng khác nhau.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>          
        </div>
    </div>
    <div class="customer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Customer Review</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption ">
                                        <div class="row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="test_box">
                                                    <i><img src="~/images/cos.png" alt="#" /></i>
                                                    <h4>Chris Nolan</h4>
                                                    <p>Trang này tôi ủng hộ 100%</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="test_box">
                                                    <i><img src="~/images/cos.png" alt="#" /></i>
                                                    <h4>Adam Miller</h4>
                                                    <p>Sản phẩm rất tốt và chất lượng hoàn hảo các bạn nhớ vào ủng hộ web bán hàng này nhiều nhé</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-9 offset-md-3">
                                                <div class="test_box">
                                                    <i><img src="~/images/cos.png" alt="#" /></i>
                                                    <h4>Good Will</h4>
                                                    <p>Ý kiến cá nhân tôi web còn khá non trẻ chưa đáp ứng được nhu cầu của tôi nhưng tôi thấy web cũng phục vụ tốt các mặt khác</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <img class="logo1" src="images/logo1.png" alt="#" />
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h3>About Us</h3>
                        <ul class="about_us">
                            <li> nhận đặt hàng trực tuyến và giao hàng tận nơi.<br> KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng <br> trên toàn quốc. <br> Cảm ơn bạn</li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <h3>Contact Us</h3>
                        <ul class="conta">
                            <li>Phone: 091231245 <br>mail: huynhthanhliem@gmail.com<br>Address:60-62 Lê Lợi,Q.1,TP. HCM </li>
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                        <form class="bottom_form">
                            <h3>Gửi mail</h3>
                            <div class="form-group"> <input class="enter" placeholder="Enter your email" type="text" name="Enter your email"></div>
                            <button class="sub_btn">subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>1822031202-Huỳnh Thanh Liêm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>