<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1240,shrink-to-fit=no">
    <meta name="shopee:git-sha" content="abcaeb2b14382dee106711a6e2871b04ba984957">
    <meta name="shopee:version" content="sw-WEBFE-MKP-2024.10.01-ir-1">
    <link rel="icon" type="image/png" sizes="32x32" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/icon_favicon_1_32.0Wecxv.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/icon_favicon_1_96.wI1aMs.png">
    <link rel="preload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/modules.aa765bb83fb1878f.css" as="style" data-modern="true">
    <link rel="preload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/bundle.cd2e068e671576e3.css" as="style" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/webpack-runtime.bc2208b8e91f96c9.js" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/modules.084e53b3d3a70150.js" data-modern="true">
    <link rel="modulepreload" href="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/bundle.10a04c1167645ce2.js" data-modern="true">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
