@model TheLoai
<div class="container">
    <div class="col-md-12">
        <div class="titlepage">
            <h2>Xem chi tiết thể loại</h2>
        </div>
    </div>
    Id: <b>@Model.Id</b> </<br />
    Tên Thể Loại: <b>@Model.Name</b></<br />
    Ngày tạo: <b>@Model.DateCreated</b>
</div>
