@model TaiKhoanViewModel
<div class="container">
    <h3>Đăng ký</h3>
    <form method="post">
        <lable asp-for="Username">Username:</lable>
        <input asp-for="Username"  type="text" class="form-control" />

        <lable asp-for ="Password">Password: </lable>
        <input asp-for="Password"  type="text" class="form-control" />

        <button type="submit" class="btn btn-primary">Đăng ký</button>
    </form>
<hr/>
@if (Model.Password !=null && Model.Password.Length >0)
{
 <h3>Thông tin cá nhân</h3>
 <p>Username: @Model.Username</p>
 <p>Username: @Model.Password</p>
}
</div>