
@{
    ViewData["Title"] = "Profile";
}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center">
            <div class="col col-lg-9 col-xl-8">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-image: url('/images/5.png'); background-size: cover; height: 200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="/images/Artoria Pendragon.png"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark text-body" data-mdb-ripple-color="blue" style="z-index: 1;">
                                Edit profile
                            </button>
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>Huỳnh Liêm</h5>
                            <p>Biên Hòa</p>
                        </div>
                    </div>
                    <div class="p-4 text-black bg-body-tertiary">
                        <div class="d-flex justify-content-end text-center py-1 text-body">
                            <div>
                                <p class="mb-1 h5">253</p>
                                <p class="small text-muted mb-0">Photos</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">20</p>
                                <p class="small text-muted mb-0">Friends</p>
                            </div>
                            <div>
                                <p class="mb-1 h5">01</p>
                                <p class="small text-muted mb-0">Following</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5 text-body">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4 bg-body-tertiary">
                                <p class="font-italic mb-1">IT Student</p>
                                <p class="font-italic mb-1">Lives in Bien Hoa city, Viet Nam</p>
                                <p class="font-italic mb-0">Student</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4 text-body">
                            <p class="lead fw-normal mb-0">Recent photos</p>
                            <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-2">
                                <img src="/images/1.png" alt="image 1"
                                     class="w-100 rounded-3" style="height: 300px; object-fit: cover;">
                            </div>
                            <div class="col mb-2">
                                <img src="/images/2.png" alt="image 2"
                                     class="w-100 rounded-3" style="height: 300px; object-fit: cover;">
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col">
                                <img src="/images/3.png" alt="image 3"
                                     class="w-100 rounded-3" style="height: 300px; object-fit: cover;">
                            </div>
                            <div class="col">
                                <img src="/images/4.png" alt="image 4"
                                     class="w-100 rounded-3" style="height: 300px; object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>